:root {
    // Colors
    --color-background: hsl(93, 100%, 81%);
    --color-primary: hsl(0, 0%, 96%);
    --color-dark-38: hsl(0, 0%, 22%);
    --color-dark-9b: hsl(0, 0%, 61%);
    --color-dark-d8: hsl(0, 0%, 85%);
    // Width & height
    
    // Sizes
    --size-font: 16px;
    // Time
    
    // Graphs

    // Ratio
    --ratio-description-image: 1;
}