:root {
  --color-background: hsl(93, 100%, 81%);
  --color-primary: hsl(0, 0%, 96%);
  --color-dark-38: hsl(0, 0%, 22%);
  --color-dark-9b: hsl(0, 0%, 61%);
  --color-dark-d8: hsl(0, 0%, 85%);
  --size-font: 16px;
  --ratio-description-image: 1;
}

@font-face {
  font-family: "Onest";
  src: local("Onest"), url("../fonts/Onest/OnestRegular.woff2") format("woff2"), url("../fonts/Onest/OnestRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: local("Onest"), url("../fonts/Onest/OnestMedium.woff2") format("woff2"), url("../fonts/Onest/OnestMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
html,
body,
p,
button,
select,
input {
  font-family: "Onest", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-dark-38);
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
}

fieldset {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.main {
  width: 100%;
  position: relative;
  padding: 16px 0px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 0px 96px -24px var(--color-dark-38);
}

.main-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 1216px;
  margin: 0px auto;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: var(--color-background);
}

.description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.description__header {
  font-size: 32px;
  line-height: 36px;
  margin: 0px 0px 16px;
  font-weight: 500;
}
.description__image {
  position: relative;
  width: -moz-min-content;
  width: min-content;
  left: calc(var(--ratio-description-image) * 42px);
  bottom: 7.02px;
  transform: scale(var(--ratio-description-image));
}
.description__image-gradient {
  width: 218.19px;
  height: 155.2px;
  background: linear-gradient(360deg, #FBFFDE 0%, #BFFF93 100%);
  transform-origin: top left;
  transform: skewX(8deg);
  border-radius: 18px 18px 0px 0px;
}
.description__loupe {
  position: absolute;
  transform-origin: top left;
  bottom: 39.1px;
  left: -32px;
  box-sizing: border-box;
  width: 89.07px;
  height: 88.52px;
}
.description__loupe-circle {
  border: 1px solid var(--color-dark-38);
  border-radius: 50%;
  width: 73.12px;
  height: 73.12px;
  box-sizing: border-box;
  position: absolute;
  top: 0%;
  right: 0%;
}
.description__loupe-hr {
  position: relative;
  transform-origin: top left;
  margin: 0px;
  border: 0px;
  border-top: 1.2px solid var(--color-dark-38);
  width: 37.3211px;
  top: 100%;
  transform: rotateZ(-45deg);
}
.description__text {
  position: absolute;
  border-radius: 34px;
  padding: 8px;
  width: -moz-max-content;
  width: max-content;
}
.description__bottom-hr {
  position: absolute;
  border: 0px;
  border-top: 1px solid var(--color-dark-38);
  width: 302.49px;
  top: 100%;
  left: 21.51px;
  margin: 0px;
}

.text-free {
  background-color: white;
  transform-origin: top right;
  transform: rotate(-6.97deg);
  z-index: 1;
  bottom: 165px;
  left: 87px;
}

.text-time {
  background-color: var(--color-background);
  transform-origin: top left;
  transform: rotate(4.62deg);
  border: 1px solid var(--color-dark-38);
  bottom: 135.42px;
  left: 126.67px;
}

.step {
  width: 100%;
  max-width: 576px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.step__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.step__container {
  flex-shrink: 0;
  flex-basis: 100%;
  border-radius: 24px;
  background-color: white;
}
.step__content {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  padding: 32px;
  box-sizing: border-box;
}
.step__text {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.step__header {
  margin: 0px;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
}
.step__number {
  color: var(--color-dark-9b);
}

.step-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;
}

.fieldset-radio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(252px, 1fr));
  gap: 8px;
}
.fieldset-radio label {
  border-radius: 16px;
  padding: 18px 16px;
  box-sizing: border-box;
  background-color: var(--color-primary);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  transition: box-shadow 0.1s;
}
.fieldset-radio label:active {
  background-color: transparent;
  padding: 17px 15px;
  border: 1px solid var(--color-dark-38);
  box-shadow: inset 4px 2px 4px 0px var(--color-dark-9b), 0px -3px 2px var(--color-dark-9b);
}
.fieldset-radio label input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0px;
  border-radius: 50%;
  border: 1px solid var(--color-dark-d8);
  transition: all 0.25s;
}
.fieldset-radio label input[type=radio]:active {
  background-color: white;
}
.fieldset-radio label input[type=radio]:active::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-dark-38);
  border-radius: 50%;
  box-shadow: 0px 0px 8px 3px var(--color-dark-38);
}
.fieldset-radio label input[type=radio]:checked {
  background-color: var(--color-dark-38);
}
.fieldset-radio label input[type=radio]:checked::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 50%;
}
.fieldset-radio_col {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.btn-next, .btn-submit,
.btn-prev {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 8px;
}

.btn-next, .btn-submit {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 108px;
  height: 44px;
  margin-right: 8px;
  background-color: var(--color-dark-38);
  border-radius: 12px;
  border: 0px;
  transition: box-shadow 0.1s;
}
.btn-next:active, .btn-submit:active {
  box-shadow: 0px 0px 2px 3px var(--color-dark-9b), inset 0px 0px 2px 3px black;
}
.btn-next:active span, .btn-submit:active span {
  font-size: 14px;
}
.btn-next:active img, .btn-submit:active img {
  width: 14px;
}
.btn-next:disabled, .btn-submit:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.btn-next:disabled span, .btn-submit:disabled span {
  color: var(--color-dark-9b);
}
.btn-next:disabled img, .btn-submit:disabled img {
  filter: invert(62%) sepia(49%) saturate(0%) hue-rotate(161deg) brightness(90%) contrast(92%);
}
.btn-next > *, .btn-submit > * {
  vertical-align: middle;
}
.btn-next span, .btn-submit span {
  color: white;
  margin-right: 4px;
  transition: font-size 0.1s;
}
.btn-next img, .btn-submit img {
  width: 16px;
  transition: width 0.1s;
}

.btn-prev {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 108px;
  height: 44px;
  background-color: transparent;
  border: 1px solid var(--color-dark-d8);
  border-radius: 12px;
  margin-left: 8px;
  transition: box-shadow 0.1s;
}
.btn-prev:active {
  box-shadow: 0px 0px 3px 1px var(--color-dark-38), inset 0px 0px 8px 2px var(--color-dark-9b);
}
.btn-prev:active span {
  font-size: 14px;
}
.btn-prev:active img {
  width: 14px;
}
.btn-prev > * {
  vertical-align: middle;
}
.btn-prev span {
  color: var(--color-dark-38);
  margin-left: 4px;
  transition: font-size 0.1s;
}
.btn-prev img {
  width: 16px;
  transform: rotateZ(180deg);
  transition: width 0.1s;
  filter: invert(99%) sepia(0%) saturate(7361%) hue-rotate(183deg) brightness(113%) contrast(69%);
}

.one-side-next {
  justify-content: flex-end;
}

.fieldset-select {
  position: relative;
}
.fieldset-select label {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-dark-9b);
  top: 10px;
  left: 16px;
}
.fieldset-select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 100%;
  padding: 25px 0px 9px 16px;
  border-radius: 16px;
  transition: all 0.2s 0.1s;
}
.fieldset-select select:focus-visible {
  box-shadow: 0px -4px 4px 2px var(--color-background);
  border-color: var(--color-dark-38);
}
.fieldset-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 19.75px;
  transform: translateY(-50%) rotateZ(90deg);
  width: 20px;
  height: 20px;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  filter: invert(99%) sepia(0%) saturate(7361%) hue-rotate(183deg) brightness(113%) contrast(69%);
}

.fieldset-text {
  gap: 8px;
  margin: 0px 0px 8px;
}
.fieldset-text input {
  border: 0px;
  background-color: var(--color-primary);
  padding: 18px 16px;
  border-radius: 16px;
}
.fieldset-text input:focus-visible {
  box-shadow: 0px -2px 2px 4px var(--color-background);
}
.fieldset-text_col {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.btn-submit {
  height: 56px;
  width: 100%;
}

.note-agreement {
  display: block;
  text-align: center;
  margin: 8px 0px 0px;
  font-size: 12px;
  color: var(--color-dark-9b);
}
.note-agreement a {
  color: var(--color-dark-38);
}

.msg__content {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
.msg__img {
  max-width: 112px;
}
.msg__header {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-dark-38);
}
.msg__text {
  color: var(--color-dark-9b);
}

@media all and (max-width: 1079px) {
  .main-content {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
  }
  .description__image {
    margin: 43px 0px 24px;
    order: -1;
  }
}
@media all and (max-width: 575px) {
  .main-content {
    padding: 32px 0px;
    max-width: 100%;
  }
  .description__text-part {
    text-align: center;
  }
  .description__image {
    --ratio-description-image: 0.72;
  }
}
@media all and (max-width: 440px) {
  .step__text {
    flex-flow: column-reverse nowrap;
  }
}
@media all and (max-width: 360px) {
  html,
  body,
  p,
  button,
  select,
  input {
    font-size: 14px;
    line-height: 20px;
  }
  .flex {
    flex-flow: column nowrap;
    row-gap: 4px;
  }
  .btn-wide {
    min-width: 100%;
  }
  .main {
    padding: 0px;
    height: 100%;
  }
  .main-content {
    height: 100%;
    margin: 0px;
    padding: 24px 16px;
    border-radius: 0px;
  }
  .description__header {
    font-size: 22px;
    line-height: 24px;
    margin: 0px 0px 4px;
  }
  .description__image {
    --ratio-description-image: 1;
    margin: 31.35px 0px 25.1px;
    left: 89.04px;
  }
  .description__image-gradient {
    width: 112px;
    height: 80.21px;
    background: linear-gradient(184.57deg, #FBFFDE 12.04%, #B6FC86 52.05%);
  }
  .description__loupe {
    bottom: 20.21px;
    left: -16.54px;
    width: 46.04px;
    height: 45.75px;
  }
  .description__loupe-circle {
    width: 37.79px;
    height: 37.79px;
  }
  .description__loupe-hr {
    border-top-width: 1px;
    width: 19.2898px;
    top: 100%;
    transform: rotateZ(-45deg);
  }
  .description__text {
    border-radius: 20.7885px;
    padding: 5px;
    white-space: pre;
  }
  .description__bottom-hr {
    width: 156.34px;
    left: 11.12px;
  }
  .text-free {
    font-size: 9.78px;
    line-height: 12.23px;
    background-color: white;
    transform-origin: top right;
    transform: rotate(-6.97deg);
    z-index: 1;
    bottom: 84.43px;
    left: 37.3px;
  }
  .text-time {
    font-size: 9.78px;
    line-height: 12.23px;
    bottom: 61.01px;
    left: 61.56px;
  }
  .step__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .step__container {
    border-radius: 16px;
  }
  .step__content {
    padding: 24px 16px 22px;
  }
  .step__header {
    margin: 4px 0px 0px;
    font-size: 16px;
  }
  .step__number {
    font-size: 12px;
    line-height: 14px;
    color: var(--color-dark-38);
  }
  .step-form {
    margin-top: 16px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  .fieldset-radio {
    margin: 0px;
    grid-template-columns: repeat(auto-fit, 100%);
    gap: 4px;
  }
  .fieldset-radio label {
    border-radius: 12px;
    padding: 16px 12px;
  }
  .btn-next, .btn-submit,
  .btn-prev {
    margin: 16px 0px 0px;
    flex-basis: calc(50% - 4px);
  }
  .btn-submit {
    flex-basis: auto;
  }
  .btn-submit span {
    margin: 0px;
  }
  .msg__header {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-dark-38);
  }
  .msg__text {
    color: var(--color-dark-9b);
  }
}/*# sourceMappingURL=style.css.map */