@import './variables';

//Подключение кастомных шрифтов
@font-face {
    font-family: 'Onest';
    src: local('Onest'),
        url('../fonts/Onest/OnestRegular.woff2') format('woff2'),
        url('../fonts/Onest/OnestRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: local('Onest'),
        url('../fonts/Onest/OnestMedium.woff2') format('woff2'),
        url('../fonts/Onest/OnestMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

//Общие стили
html,
body,
p,
button,
select,
input {
    font-family: 'Onest', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-dark-38);
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

fieldset {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

//Уникальные стили
.main {
    width: 100%;
    position: relative;
    padding: 16px 0px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 96px -24px var(--color-dark-38);
}

.main-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 1216px;
    margin: 0px auto;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: var(--color-background);
}

.description {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    &__header {
        font-size: 32px;
        line-height: 36px;
        margin: 0px 0px 16px;
        font-weight: 500;
    }

    &__image {
        position: relative;
        width: min-content;
        left: calc(var(--ratio-description-image) * 42px);
        bottom: 7.02px;
        transform: scale(var(--ratio-description-image));
    }

    &__image-gradient {
        width: 218.19px;
        height: 155.2px;
        background: linear-gradient(360deg, #FBFFDE 0%, #BFFF93 100%);
        transform-origin: top left;
        transform: skewX(8deg);
        border-radius: 18px 18px 0px 0px;
    }

    &__loupe {
        position: absolute;
        transform-origin: top left;
        bottom: 39.1px;
        left: -32px;
        box-sizing: border-box;
        width: 89.07px;
        height: 88.52px;
    }

    &__loupe-circle {
        border: 1px solid var(--color-dark-38);
        border-radius: 50%;
        width: 73.12px;
        height: 73.12px;
        box-sizing: border-box;
        position: absolute;
        top: 0%;
        right: 0%;
    }

    &__loupe-hr {
        position: relative;
        transform-origin: top left;
        margin: 0px;
        border: 0px;
        border-top: 1.2px solid var(--color-dark-38);
        width: 37.3211px;
        top: 100%;
        transform: rotateZ(-45deg);
    }

    &__text {
        position: absolute;
        border-radius: 34px;
        padding: 8px;
        width: max-content;
    }

    &__bottom-hr {
        position: absolute;
        border: 0px;
        border-top: 1px solid var(--color-dark-38);
        width: 302.49px;
        top: 100%;
        left: 21.51px;
        margin: 0px;
    }
}

.text-free {
    background-color: white;
    transform-origin: top right;
    transform: rotate(-6.97deg);
    z-index: 1;
    bottom: 165px;
    left: calc(126.67px - 39.67px);
}

.text-time {
    background-color: var(--color-background);
    transform-origin: top left;
    transform: rotate(4.62deg);
    border: 1px solid var(--color-dark-38);
    bottom: 135.42px;
    left: 126.67px;
}

.step {
    width: 100%;
    max-width: 576px;
    overflow-x: hidden;
    scroll-behavior: smooth;

    &__list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        column-gap: 16px;
    }

    &__container {
        flex-shrink: 0;
        flex-basis: 100%;
        border-radius: 24px;
        background-color: white;
    }

    &__content {
        display: grid;
        grid-template-rows: auto 1fr;
        height: 100%;
        padding: 32px;
        box-sizing: border-box;
    }

    &__text {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__header {
        margin: 0px;
        font-size: inherit;
        font-weight: 500;
        line-height: inherit;
    }

    &__number {
        color: var(--color-dark-9b);
    }
}

.step-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 24px;
}

.fieldset-radio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(252px, 1fr));
    gap: 8px;

    & label {
        border-radius: 16px;
        padding: 18px 16px;
        box-sizing: border-box;
        background-color: var(--color-primary);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        transition: box-shadow 0.1s;

        &:active {
            background-color: transparent;
            padding: 17px 15px;
            border: 1px solid var(--color-dark-38);
            box-shadow: inset 4px 2px 4px 0px var(--color-dark-9b), 0px -3px 2px var(--color-dark-9b);
        }

        & input[type='radio'] {
            appearance: none;
            position: relative;
            width: 20px;
            height: 20px;
            margin: 0px;
            border-radius: 50%;
            border: 1px solid var(--color-dark-d8);
            transition: all 0.25s;

            &:active {
                background-color: white;

                &::before {
                    content: '';
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: var(--color-dark-38);
                    border-radius: 50%;
                    box-shadow: 0px 0px 8px 3px var(--color-dark-38);
                }
            }

            &:checked {
                background-color: var(--color-dark-38);

                &::before {
                    content: '';
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: white;
                    border-radius: 50%;
                }
            }
        }
    }

    &_col {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
    }
}

.btns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.btn-next,
.btn-prev {
    appearance: none;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 8px;
}

.btn-next {
    appearance: none;
    cursor: pointer;
    width: 108px;
    height: 44px;
    margin-right: 8px;
    background-color: var(--color-dark-38);
    border-radius: 12px;
    border: 0px;
    transition: box-shadow 0.1s;

    &:active {
        box-shadow: 0px 0px 2px 3px var(--color-dark-9b), inset 0px 0px 2px 3px black;

        & span {
            font-size: 14px;
        }

        & img {
            width: 14px;
        }
    }

    &:disabled {
        opacity: 0.5;
        pointer-events: none;

        & span {
            color: var(--color-dark-9b);
        }

        & img {
            filter: invert(62%) sepia(49%) saturate(0%) hue-rotate(161deg) brightness(90%) contrast(92%);
        }
    }

    &>* {
        vertical-align: middle;
    }

    & span {
        color: white;
        margin-right: 4px;
        transition: font-size 0.1s;
    }

    & img {
        width: 16px;
        transition: width 0.1s;
    }
}

.btn-prev {
    appearance: none;
    cursor: pointer;
    width: 108px;
    height: 44px;
    background-color: transparent;
    border: 1px solid var(--color-dark-d8);
    border-radius: 12px;
    margin-left: 8px;
    transition: box-shadow 0.1s;

    &:active {
        box-shadow: 0px 0px 3px 1px var(--color-dark-38), inset 0px 0px 8px 2px var(--color-dark-9b);

        & span {
            font-size: 14px;
        }

        & img {
            width: 14px;
        }
    }

    &>* {
        vertical-align: middle;
    }

    & span {
        color: var(--color-dark-38);
        margin-left: 4px;
        transition: font-size 0.1s;
    }

    & img {
        width: 16px;
        transform: rotateZ(180deg);
        transition: width 0.1s;
        filter: invert(99%) sepia(0%) saturate(7361%) hue-rotate(183deg) brightness(113%) contrast(69%);
    }
}

.one-side-next {
    justify-content: flex-end;
}

.fieldset-select {
    position: relative;

    & label {
        position: absolute;
        font-size: 12px;
        line-height: 12px;
        color: var(--color-dark-9b);
        top: 10px;
        left: 16px;
    }

    & select {
        appearance: none;
        position: relative;
        width: 100%;
        padding: 25px 0px 9px 16px;
        border-radius: 16px;
        transition: all 0.2s .1s;

        &:focus-visible {
            box-shadow: 0px -4px 4px 2px var(--color-background);
            border-color: var(--color-dark-38);
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 19.75px;
        transform: translateY(-50%) rotateZ(90deg);
        width: 20px;
        height: 20px;
        background-image: url(../images/arrow.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        filter: invert(99%) sepia(0%) saturate(7361%) hue-rotate(183deg) brightness(113%) contrast(69%);
    }
}

.fieldset-text {
    gap: 8px;
    margin: 0px 0px 8px;

    & input {
        border: 0px;
        background-color: var(--color-primary);
        padding: 18px 16px;
        border-radius: 16px;

        &:focus-visible {
            box-shadow: 0px -2px 2px 4px var(--color-background);
        }
    }

    &_col {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
    }
}

.btn-submit {
    @extend .btn-next;
    height: 56px;
    width: 100%;
}

.note-agreement {
    display: block;
    text-align: center;
    margin: 8px 0px 0px;
    font-size: 12px;
    color: var(--color-dark-9b);

    & a {
        color: var(--color-dark-38);
    }
}

.msg {

    &__content {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
    }

    &__img {
        max-width: 112px;
    }

    &__header {
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        color: var(--color-dark-38);
    }

    &__text {
        color: var(--color-dark-9b);
    }
}

@media all and (max-width: 1079px) {
    .main-content {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        row-gap: 24px;
    }

    .description {

        &__image {
            margin: 43px 0px 24px;
            order: -1;
        }
    }
}

@media all and (max-width: 575px) {

    .main-content {
        padding: 32px 0px;
        max-width: 100%;
    }

    .description {

        &__text-part {
            text-align: center;
        }

        &__image {
            --ratio-description-image: 0.72;
        }
    }
}

@media all and (max-width: 440px) {
    .step {

        &__text {
            flex-flow: column-reverse nowrap;
        }
    }
}

@media all and (max-width: 360px) {

    //Общие стили
    html,
    body,
    p,
    button,
    select,
    input {
        font-size: 14px;
        line-height: 20px;
    }

    .flex {
        flex-flow: column nowrap;
        row-gap: 4px;
    }

    .btn-wide {
        min-width: 100%;
    }

    //Уникальные стили
    .main {
        padding: 0px;
        height: 100%;
    }

    .main-content {
        height: 100%;
        margin: 0px;
        padding: 24px 16px;
        border-radius: 0px;
    }

    .description {

        &__header {
            font-size: 22px;
            line-height: 24px;
            margin: 0px 0px 4px;
        }

        &__image {
            --ratio-description-image: 1;
            margin: 31.35px 0px 25.1px;
            left: 89.04px;
        }

        &__image-gradient {
            width: 112px;
            height: 80.21px;
            background: linear-gradient(184.57deg, #FBFFDE 12.04%, #B6FC86 52.05%);
        }

        &__loupe {
            bottom: 20.21px;
            left: -16.54px;
            width: 46.04px;
            height: 45.75px;
        }

        &__loupe-circle {
            width: 37.79px;
            height: 37.79px;
        }

        &__loupe-hr {
            border-top-width: 1px;
            width: 19.2898px;
            top: 100%;
            transform: rotateZ(-45deg);
        }

        &__text {
            border-radius: 20.7885px;
            padding: 5px;
            white-space: pre;
        }

        &__bottom-hr {
            width: 156.34px;
            left: 11.12px;
        }
    }

    .text-free {
        font-size: 9.78px;
        line-height: 12.23px;
        background-color: white;
        transform-origin: top right;
        transform: rotate(-6.97deg);
        z-index: 1;
        bottom: 84.43px;
        left: 37.3px;
    }

    .text-time {
        font-size: 9.78px;
        line-height: 12.23px;
        bottom: 61.01px;
        left: 61.56px;
    }

    .step {

        &__list {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            column-gap: 16px;
        }

        &__container {
            border-radius: 16px;
        }

        &__content {
            padding: 24px 16px 22px;
        }

        &__header {
            margin: 4px 0px 0px;
            font-size: 16px;
        }

        &__number {
            font-size: 12px;
            line-height: 14px;
            color: var(--color-dark-38);
        }
    }

    .step-form {
        margin-top: 16px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    .fieldset-radio {

        margin: 0px;
        grid-template-columns: repeat(auto-fit, 100%);
        gap: 4px;

        & label {
            border-radius: 12px;
            padding: 16px 12px;
        }
    }

    .btn-next,
    .btn-prev {
        margin: 16px 0px 0px;
        flex-basis: calc(50% - 8px/2);
    }

    .btn-submit {
        flex-basis: auto;

        & span {
            margin: 0px;
        }
    }

    .msg {

        &__header {
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            color: var(--color-dark-38);
        }

        &__text {
            color: var(--color-dark-9b);
        }
    }
}